.service {
    background-image: url("../../../Assets/images/service-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: screen;
    background-color: azure;
}
